<h1>Our Favorite Programmers</h1>

<ul class="list-group">

<%# <% @programmers do |programmer| this line was deleted bc the test does not want to use iteration to render the programmer %>

<%# the block below was moved to views/programmers/_programmer.html.erb%>
<%#  <%= link_to programmer_path(programmer) do %>
  <%# <p class="list-group-item programmer-item">
    <%= image_tag programmer.image, width: '70px' %>
    <%#<%= programmer.name %>
  <%#</p>
  <% end %>

<%= render @programmers %>

<%# <% end %>
</ul>
